<div class='deployment'>
    <div class='deployment-header ##STATUS##'>
        <div class='deployment-header-name'>
                ##ENVIRONMENT_NAME##
        </div>
        <div class='deployment-header-control' onclick="toggle('##ROW_ID##')">
            v
        </div>
    </div>
    <div class='deployment-body'>
        <div class='deployment-body-number'>
            <a href='##URL##' target="_blank">##PIPELINE##</a>
        </div>
        <div class='deployment-body-content'>
            <span>##COMMIT_HASH##</span>
            ##COMMIT_MESSAGE##
        </div>
    </div>
    <div class='deployment-date'>
        ##TIME##
    </div>
</div>